/*
#####################################################
COMMON
#####################################################
*/
:root{
    --white: white;
    --lightblue:#b4d0e7;
    --black: black;
    --blue: rgb(43, 90, 219);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.container-small{
    max-width: 1000px;
    margin: 150px auto;
}
.d-flex{
    display: flex;
}
.w-30{
    width: 30%;
}
.w-70{
    width: 70%; 
}
/*
#####################################################
HEADER
#####################################################
*/
header nav{
    height: 80px;
    width: 100%;
    background-color: var(--white)aliceblue;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

#hero{
    background-color: var(--lightblue);
    margin-top: 80px;
}
#hero .container{
    position: relative;
    bottom: -80px;
}

h1{
    font-size: 76px;
    font-weight: bold;
    text-align: center;
}
#hero img{
    width: 100%;
}
/*
#####################################################
FOOTER
#####################################################
*/
footer{
    background-color: var(--black);
    color: var(--white);
}

