/*
#####################################################
COMMON
#####################################################
*/
:root{
    --white: white;
    --lightblue:#b4d0e7;
    --black: black;
    --azure: rgb(43, 90, 219);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.container-small, .container-small-box, .container-small-box-1{
    max-width: 1000px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.w-30{
    width: 30%;
}
.w-70{
    width: 70%; 
}
/*
#####################################################
HEADER
#####################################################
*/
.rectangle{
    height: 80px;
    width: 100%;
    background-color: aliceblue;
    position: fixed;
    margin: 0 auto;
    z-index: 1000;
    display: flex;
    align-items: left;
    justify-content: space-between;
}
.rectangle img{
    width: 120px;
    height: 50px;
    padding-top: 25px;
    margin-left: 20px;
    
}
.header-left, .header-right{
    width: 550px;
    height: 60px;
    display: flex;    
}
.header-left{
    align-items: left;    
}
.header-right {
    align-items: right;    
}
.header-left ul li{
    margin-left: 30px;   
}
.header-right ul li{
    margin-right: 30px;   
}
.header-left ul li, .header-right ul li{
    display: inline-block;
    list-style-type: none;
    padding: 30px 0;
}
.header-left ul li a, .header-right ul li a{
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    color: var(--black);
}
.b-inizia{
    background-color: var(--azure);
    text-align: center;
    width: 80px;
    margin-top: 25px;
    height: 30px;
    color: white;
    border: 1px solid var(--azure);
    cursor: pointer;
    font-size: 16px;
}
#hero{
    background-color: var(--lightblue);
}
#hero .container{
    position: relative;
    bottom: -80px;
}

h1{
    font-size: 76px;
    font-weight: bold;
    padding-top: 80px;
    padding-bottom: 80px;
}

#hero img{
    width: 90%;
}
.b-prova{
    background-color: var(--azure);
    text-align: center;
    width: 180px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
    font-size: 14px;
    color: white;
    border: 1px solid var(--azure);
    cursor: pointer;
}
.w-30 p i{
    margin-top: 60px;
    font-size: 60px;
}
/*
#####################################################
MAIN
#####################################################
*/
.container-small{
    padding-top: 100px;
    padding-bottom: 20px;
}
h2{
    padding-bottom: 60px;
    font-size: 35px;
}
input[type=radio]{
    margin-bottom: 30px;
}
label{
    padding-right: 20px;  
}
.col-main{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box ul li{
    list-style: none;
}
.icon-info .icon ul li span{
    color: black;
}
.box{
    width: 15vw;
    height: 900px;
    border: 1px solid #d7d7da;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.title{
    padding: 10px 0;
    width: 15vw;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #d7d7da;
}
.box-big{
    height: 300px;
    width: 100%;
    border: 1px solid #d7d7da;
    margin-top: 30px;
    margin-bottom: 30px;
}
.title-big{
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #d7d7da;
}

.info-container, .info-container-sx, .info-container-dx{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.title-check, .title-check-sx, .title-check-dx{
    padding: 10px 0;
    width: 15vw;
    height: 60px;
    display: flex;
    justify-content: center;    
}

.box-button{
    width: 100%;
    display: flex;
    padding: 20px 20px;
}
.info-container{
    margin-bottom: 20px;
}
.type{
    width: 100%;
    padding: 30px 20px;
}
.type h4{
    margin: 15px 0;
}
.HR-box{
    color: grey;
    margin: 30px 20px;
    width: 50px;
}
.icon-info{
    width: 100%; 
    display: flex;
}

.icon{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.descr{
    width: 75%;
}

.b-contatta, .b-contatta1{
    background-color: var(--azure);
    text-align: center;
    width: 250px;
    color: white;
    border: 1px solid var(--azure);
    cursor: pointer;
}
.b-contatta{
    height: 30px;
    font-size: 15px;
    margin: 0 auto;
}
.b-contatta1{
    height: 40px;
    font-size: 15px;
}
.info-container, .icon-info ul li i{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container{
    font-size: 15px;
}

.icon-info .icon ul li{
    color: var(--azure);
}

.fa-user, .fa-folder, .fa-share-nodes{
    color: black;
}
.info-big{
    width: 100%;
    height: 243px;
    display: flex;
}
.big-70{
    width: 70%;
    padding: 20px 20px;
    margin-top: 15px;
}
.big-70 h4{
    margin-top: 15px;
    margin-bottom: 45px;
}

.big-30{
    width: 30%;
    display: flex;
    padding: 20px 20px;
    margin-top: 15px;
}

.box-img{
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    margin-top: 150px;
}

.partner-img{
    width: 60%;
}
.partner-img img{
    width: 100%;
}
.info-partner{
    width: 40%;
    padding: 50px;
}
.info-partner h3{
    font-size: 25px;
    margin: 30px 0;
}
.info-partner p{
    margin: 30px 0;
}
.info-partner button{
    background-color: white;
    height: 40px;
    width: 155px;
    font-size: 15px;
}
.brochure-title {
    margin-top: 100px;
    margin-bottom: 20px;
}
.brochure-title h2{
    margin-top: 80px;
    margin-bottom: 20px;
}
.brochure-title a{
    padding-top: 50px;
    padding-bottom: 20px;
}
.brochure-main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.brochure{
    margin-top: 10px;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}
.brochure-img{
    width: 100%;
}
.brochure-img img{
    width: 100%;
}
.brochure-info{
    padding: 10px 0;
}
.brochure-info h3{
    font-size: 25px;
    margin: 10px 0;
}
.brochure-info p{
    font-size: 17px;
}
.flexcontainer-1, .flexcontainer-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexcontainer-1{
    background-color: #b4d0e7;
    height: 15vw;
}
.flexcontainer-2{
    background-color: var(--white);
    height: 35vw;
}
.logos{
    margin-top: 10vh;
    width: 100%;
    height: 33vw;
    display: flex;
}
.square1, .square2, .square3{
    height: 33vw;
    width: 100%;
}
.box-square{
    height: 16.5vw;
    width: 33vw;
    display: flex;
}
.square1{
    background-color: wheat;
}
.square2{
    background-color: #f5f5f5;
    padding: 40px;
}
.square2 img{
    width: 50%;
}
.square2 p{
    font-size: 17px;
    margin-bottom: 60px;
}
.square3{
    background-color: antiquewhite;
}
.small-square1, .small-square2, .small-square3, .small-square4, .small-square5, .small-square6, .small-square7, .small-square8{
    height: 16.5vw;
    width: 100%;
}

.small-square1{
    background-color: #a2d39b;
}
.small-square2{
    background-color: #61082b;
}
.small-square3{
    background-color: #0093ce;
}
.small-square4{
    background-color: #ff1c1c;
}
.small-square5{
    background-color: #d5001f;
}
.small-square6{
    background-color: #b4d0e7;
}
.small-square7{
    background-color: #0d2481;
}
.small-square8{
    background-color: #ffd830;
}
.small-square1 img, .small-square2 img, .small-square3 img, .small-square4 img, .small-square5 img, .small-square6 img, .small-square7 img, .small-square8 img{
    width: 100%;
    padding: 60px 60px;
    filter: invert(1);
}
.HR-square{
    margin-right: 410px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.box-why{
    width: 100%;
    display: flex;
    margin: 0 20vw;
}

.question{
    width: 60%;
    padding: 30px 30px;
}
.faq{
    width: 100%;
    padding: 10px 10px;
}
.faq h3{
    font-size: 40px;
    margin-bottom: 5vw;
    color: var(--black);
}
.question h3{
    font-size: 40px;
    margin-bottom: 50px;
    color: #61082b;
}
.info-partner-1 button{
    background-color: white;
    height: 40px;
    width: 250px;
    font-size: 15px;
    margin-top: 40px;
}
.questions hr{
    margin: 40px 0;
}
.questions span{
    display: flex;
    justify-content: space-between; 
    font-weight: bold;
}
.questions i{
    font-weight: bold; 
}

/*
#####################################################
FOOTER
#####################################################
*/

footer{
    width: 100%;
    background-color: var(--black);
    min-height: 100px;
}
li img{
    width: 30px;
}
li{
    color: var(--black);
    padding: 10px 0;
}
.flexcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 40px;
}

/* BLOCCHI CON INFO */
.row-flex{
    display: flex;
    margin: 0 auto;
    width: 80vW;
}
.col-footer{
    height: 300px;
    width: 50%;
    margin: 0 auto;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.col-footer ul li{
    list-style: none;
}
.col-footer ul li h4{
    color: var(--white);
    margin-top: 30px;
    font-size: 25px;
    margin-bottom: 12px;
}
.col-footer ul li a{
    color: var(--white);
    text-decoration: none;
    padding: 10px 0;
}
.col-footer ul li a:hover{
    background-color: var(--black);
    color: var(--white);
}
.language{
    padding: 30px 0;
    border-top: 2px solid grey;
    background-color: var(--black);
    justify-content: space-between;
    width:  120px;
    margin-left: 200px;
}
.language span{
    color: grey;
    align-items: left;
    margin-left: 3px;
}
